<%- include("../includes/header.ejs", {title:"Players on " + result[0].team_name}); %>
<h1>Players</h1>

<table border="1">
    <tr><th>Name</th><th>Position</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="info/?p_id=<%= result[i].p_id %>"><%= result[i].first_name %> <%= result[i].last_name %></a></td>
        <td><%= result[i].position %></td>
    <td>
        <button onclick="event.preventDefault();window.location.href='/team/student/?p_id=<%= result[i].p_id %>'">Make Student</button>
    </td>
    </tr>

    <% } %>
</table>
<br />
<a href="/team/all"><< back</a>
<%- include("../includes/footer.ejs"); %>