<%- include("../includes/header.ejs", {title:result[0][0].first_name + " " +result[0][0].last_name}); %>
<h1><%= result[0][0].first_name + " " +result[0][0].last_name %></h1>
<ul>
    <li>School: <%= result[0][0].name %> </li>
    <li>Student ID: <%= result[0][0].school_id %></li>
    <li>GPA: <%= result[0][0].gpa %></li>
    <li>Address: <%= result[0][0].st_num %> <%= result[0][0].city %> <%= result[0][0].zip %></li>
    <li>Phone Number: <%= result[0][0].phone_number %></li>
</ul>
<a href="/team/all"><< back</a>
<%- include("../includes/footer.ejs"); %>