<%- include("../includes/header.ejs", {title:"Add New Player"}); %>
<h1>Add New Player</h1>
<form action="/team/person/insert" method="get">

    First Name: <input id="first_name" name="first_name" type="text" />
    <br />
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" />
    <br />
    <br />
    Position: <input id="position" name="position" type="text" />
    <br />
    <br />
    Address
    <br />
    <select id="address" name="address" >
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].ad_id %>"><%= result[i].st_num + ', ' + result[i].zip %></option>
        <% } %>
    </select>
    <br />
    <br />
    Team
    <br />
    <select id="team_id" name="team_id" >
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
        <% } %>
    </select>
    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>