<%- include("../includes/header.ejs", {title:"Make Student"}); %>
<h1>Make <%= person[0][0].first_name %> a Student</h1>
<form action="/team/student/insert" method="get">
    <br />
    <input type="hidden" id="p_id" name="p_id" value="<%= person[0][0].p_id %>">
    Nine Digit Student ID: <input id="school_id" name="school_id" type="number" />
    <br />
    <br />
    GPA: <input id="gpa" name="gpa" type="number" />
    <br />
    <br />
    School
    <br />
    <select id="school" name="school" >
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].s_id %>"><%= result[i].name  %></option>
        <% } %>
    </select>
    <br />
    <br />

    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>