<%- include("../includes/header.ejs", {title:"Teams - View All"}); %>
<h1>Teams</h1>
<a href="/team/add">Add a New Team</a> <br />
<a href="/team/playerAdd">Add a New Player To A Team</a>
<br />
<table border="1">
    <tr><th>Name</th><th>Players</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>

    <tr>
        <td><a href="/team/?team_id=<%= result[i].team_id %>"><%= result[i].team_name %></a></td>
        <td><a href="/team/players/?team_id=<%= result[i].team_id %>">View Players on <%= result[i].team_name %></a></td>

        <td>

            <form action="/team/delete/" style="display:inline;">
                <input type="hidden" name="team_id" id="team_id" value="<%= result[i].team_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>