<%- include("../includes/header.ejs", {title:"Team - " + result[0].team_name}); %>
<h1>Team</h1>
<ul>
    <li>Team Name: <%= result[0].team_name %></li>
    <li>School Name: <%= result[0].name %> </li>
</ul>
<a href="/team/all"><< back</a>
<%- include("../includes/footer.ejs"); %>