<%- include("../includes/header.ejs", {title:"Add New Team"}); %>
<form action="/team/insert" method="get">
    Team Name: <input id="team_name" name="team_name" type="text" />
    <br />
    <br />
    School
    <br />
    <select id="school" name="school" >
        <% for(var i=0; schools.length > i; i++ ) { %>
        <option value="<%= schools[i].s_id %>"> <%= schools[i].name  %></option>
        <% } %>
    </select>


    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>