<%- include("../includes/header.ejs", {title:"Add New School"}); %>
<h1>Add New School</h1>
<form action="/school/insert" method="get">
    School Name: <input id="name" name="name" type="text" />
    <br />
    <br />
    Address
    <br />
    <select id="address" name="address" >
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].ad_id %>"><%= result[i].st_num + ', ' + result[i].zip %></option>
        <% } %>
    </select>



    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>