<%- include("../includes/header.ejs", {title:"Schools - View All"}); %>
<h1>Schools</h1>
<a href="/school/add">Add a New School</a> <br />
<br />
<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>

    <tr>
        <td><a href="/school/?s_id=<%= result[i].s_id %>"><%= result[i].name %></a></td>

        <td>

            <form action="/school/delete/" style="display:inline;">
                <input type="hidden" name="s_id" id="s_id" value="<%= result[i].s_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>

    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>