<%- include("../includes/header.ejs", {title:"School - " + result[0][0].name}); %>
<h1>School</h1>
<ul>
    <li>School Name: <%= result[0][0].name %> </li>
    <li>Address: <%= result[0][0].st_num %> <%= result[0][0].city %> <%= result[0][0].zip %></li>
    <li>Phone Number: <%= result[0][0].phone_number %></li>

</ul>
<a href="/school/all"><< back</a>
<%- include("../includes/footer.ejs"); %>