<%- include("./includes/header.ejs", {title: title}); %>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<!--<h1><%= //title %></h1>-->
<p>The purpose of this website is to allow the creation and monitoring of high school lacrosse teams.</p>
<p>Each lacrosse team is made up of at least ten players and one coach, they are attached to a school and each player must have a gpa of 2.0 or higher to be eligible to play.</p>
<a href="/images/Lacrosse_ERD.png" >My ER Diagram</a>
<br/>
<a href="/images/Lacrosse_RS.png" >My Relational Schema</a>
<br />
<a href="/images/Lacrosse_FD.png" >My Functional Dependency Diagram</a>
</body>
<%- include("./includes/footer.ejs"); %>